django-haystack
celery
httplib2
lxml
django-celery
mock
mock_django
gunicorn
whitenoise
envparse
psycopg2
elasticsearch
goose-extractor
gitpython
lettuce
python-Levenshtein
cssselect
celery-haystack
gitdiscribe

