{{#if user }}
    <div class="container theme-showcase" role="main">
        <br><br>

        <h1>Welcome, {{user.displayName}} !</h1>

        <p> Your repos: <br/>

    <ul class="list-group">
        {{#each repos}}
            <li class="list-group-item"><a href="/editor/repo/{{this.full_name}}">{{this.full_name}}</a>
            </li>{{/each}}</p>

        </ul>

    </div>
{{ else }}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>

            <p>This is a template for a simple marketing or informational website. It includes a large callout called a
                jumbotron and three supporting pieces of content. Use it as a starting point to create something more
                unique.</p>

            <p><a class="btn btn-primary btn-lg" role="button" href="/auth/github">Login via github to begin &raquo;</a>
            </p>
        </div>
    </div>
{{/if}}