<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/bower_components/lunr.js/lunr.min.js"></script>
<div class="jumbotron">
    <div class="container">
        <h1>Search the Service Catalogue</h1>
        <p>Search here or <A href="/viewer/graph">view as a graph</a> or <a href="https://github.com/AusDTO/govHackServiceCatalogue">view raw data on GitHub</a></p>
        <div class="input-group">
            <input type="text" placeholder="Search..." class="form-control" />
            <div class="input-group-btn">
                <button class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">

<div id="output"/></div>
</div>
<script>
    var data = {{{data}}};
    var index = lunr.Index.load({{{index}}});
    //console.log(index.search('foo'));
    var debounce = function (fn) {
        var timeout
        return function () {
            var args = Array.prototype.slice.call(arguments),
                    ctx = this

            clearTimeout(timeout)
            timeout = setTimeout(function () {
                fn.apply(ctx, args)
            }, 100)
        }
    }

    $('input').bind('keyup', debounce(function () {
        if ($(this).val() < 2) return
        var query = $(this).val()
        var results = index.search(query).map(function (result) {
            return data[result.ref];
        })
var output = results.length +" results found.</br>";
        for (var i in results) {
            if (results[i].infoUrl && results[i].infoUrl != "") {
                output = output + "<b><a href='" + results[i].infoUrl + "'>";
            } else {
                output = output + "<b>";

            }
            output = output + results[i].name;
            if (results[i].infoUrl && results[i].infoUrl != "") {
                output = output + "</a>";
            }
            if (results[i].serviceOrganisation.name && results[i].serviceOrganisation.name != "") {
                output = output + " <span class='label label-primary'>"+results[i].serviceOrganisation.name +"</span>";
            }
            for (var j in results[i].primaryAudience) {
                output = output + " <span class='label label-info'>"+results[i].primaryAudience[j] +"</span>";
            }
            for (var j in results[i].primaryChannel) {
                output = output + " <span class='label label-success'>"+results[i].primaryChannel[j] +"</span>";
            }



            output = output + '</b><br/>' + results[i].description + '<hr/>';
        }
        $('#output').html(output);
    }))
</script>